.main-content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    
}
.dashboardBtns{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-content:center;

}

.wrapper-one{
    display:flex;
    justify-content: space-between;
    align-content:center;
    padding:25px;
    padding-bottom:5cm;
   
}

.wrapper-two{
    display:flex;
    justify-content: space-between;
    align-content:center;
    padding:25px;
    
}


.btn-opt p{ 
    margin-top: 35px;
    text-decoration:none;
    color:#fff;
}

.btn-opt{  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 300px;
    height: 300px;
    background-color:rgb(19, 164, 9);
    border-radius:30px;
    transition: all .3s ease-in-out;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 1cm;
   
}
.btn-opt:hover{
    transform: scale(0.95);
    cursor: pointer;
    background-color: rgb(94, 234, 94);

}

.card-icon{
    width:120px;
    height:120px;
}

#person{
    color: #fff;
    
}

.icon {
    max-width: 100px;
    max-height: 100px;
    
}


@media screen and (max-width: 650px) {
    .wrapper-one{
      width: 100%;
      display: block;
    }
    
  }

 .btn-title{
    text-decoration: none;

  }

