.main-content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboardBtns{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-content:center;

}

.wrapper-one{
    display:flex;
    justify-content: space-between;
    align-content:center;
    padding:25px;
}

.wrapper-two{
    display:flex;
    justify-content: space-between;
    align-content:center;
    padding:25px;
}


.btn-opt p{
    margin-top: 35px;
    text-decoration:none;
    color:#fff;
}

.btn-opt{
    width: 300px;
    height: 300px;
    background-color:rgb(62, 13, 177);
    border-radius:30px;
    transition: all .3s ease-in-out;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    margin: 1cm;
}
.btn-opt:hover{
    transform: scale(0.95);
    cursor: pointer;
  background-color: rgb(98, 234, 14);  

}
.card-icon{
    width:120px;
    height:120px;
}

@media screen and (max-width: 650px) {
    .wrapper-one{
      width: 100%;
      display: block;
    }
  }

  p {
    text-decoration: none;
   
  }