*{
    margin: 0;
}
body{
    /* background-image: url(./assets/lux-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.main-content{
    display:flex;
    flex-direction:column;
}
.search-section{
    background-image: url(./assets/lux-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-logo{
    width:33%;
    height: auto;
}

.subtitle {
    text-align: center;
    color: #fff;
}

.title{
    font-size: 3em;
}

.content-form {
    width:33%;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    border-radius: 60px;
    border: 3px solid #fff;

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: #000;
    text-align: center;

}

::placeholder {
    color: rgba(233, 233, 233, 0.5);
    backdrop-filter: none;
    text-align: center;
    font-style: italic;
}

.search-bar button img{
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background: rgb(56, 136, 25);
    cursor: pointer;
}

.prop-title{
    text-align: center;
    margin:25px;
    color:rgb(56, 136, 25);
}


.properties-section{
    width:100vw;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.avatar{
    display:flex;
    flex-direction:column;
    width:30vw;

}
.avatar img{
    width:20vw;
    height:auto;
}
.description{
    width:50vw;
    margin-left:40px;
}





@media only screen and (max-width: 768px) {
.main-logo{
    width:60%;
    height: auto;
}

.content-form {
    padding:30px;
    width:80%;
}
.content-form input {
    width:60%;
}
}

@media only screen and (max-width: 996px){
.main-logo{
    width:50%;
    height: auto;
}

.content-form {
    padding:30px;
    width:80%;
}
.content-form input {
    width:60%;
}
}