*{
    margin: 0;
}
body{
    /* background-image: url(./assets/lux-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.main-content{
    display:flex;
    flex-direction:column;
}
.search-section{
    background-image: url(./assets/lux-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rent-properties-list{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.buy-properties-list{
    display: none;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.main-logo{
    width:33%;
    height: auto;
}

.subtitle {
    text-align: center;
    color: #fff;
}

.title{
    font-size: 3em;
}

.rent-buy-btns-container{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    width:20vw;
}

.rent-btn, .buy-btn{
    width: 150px;
    height: 50px;
    border:1px solid #fff;
    border-radius:4%;
    background-color:rgb(56, 136, 25);
    color:#fff;
}
.rent-btn:hover, .buy-btn:hover{

    border:1px solid rgb(56, 136, 25);
    border-radius:4%;
    background-color:#fff;
    color:rgb(56, 136, 25);
    font-weight: 600px;
    cursor: pointer;
}
.centralize-register-btn{
    display: flex;
    justify-content: center;
}
.register-to-see-all{
    width: 150px;
    height: 50px;
    border:1px solid #fff;
    border-radius:4%;
    background-color:rgb(56, 136, 25);
    color:#fff;
    width:40vw;
    font-weight: bolder;
    margin: 20px;
}
.register-to-see-all:hover{
    background-color:#fff;
    border: 1px solid rgb(56, 136, 25);
    color: rgb(56, 136, 25);
    cursor:pointer;
}

.prop-title{
    text-align: center;
    margin:25px;
    color:rgb(56, 136, 25);
}


.properties-section{
    width:100vw;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.avatar{
    display:flex;
    flex-direction:column;
    width:30vw;

}
.avatar img{
    width:20vw;
    height:auto;
}
.description{
    width:50vw;
    margin-left:40px;
}





@media only screen and (max-width: 768px) {
.main-logo{
    width:60%;
    height: auto;
}

.content-form {
    padding:30px;
    width:80%;
}
.content-form input {
    width:60%;
}
}

@media only screen and (max-width: 996px){
.main-logo{
    width:50%;
    height: auto;
}

.content-form {
    padding:30px;
    width:80%;
}
.content-form input {
    width:60%;
}
}