*{
    margin: 0;
}
body{
    background-image: url(./assets/lux-3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    backdrop-filter: blur(4px) saturate(180%);
}

.main-content{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    text-align: center;
    color: #fff;
}

.title{
    font-size: 3em;
    
}

.content-form {
    width:33%;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    border-radius: 60px;
    border: 3px solid #fff;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: brown;

}

::placeholder {
    color: rgba(233, 233, 233, 0.5);
    backdrop-filter: none;
    text-align: center;
    font-style: italic;
}

.search-bar button img{
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgb(56, 136, 25);
    cursor: pointer;
}



/* RESPONSIVENESS */


@media only screen and (max-width: 600px) {
    body {
      background-color: red;
    }
  }