.property-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    gap: 1rem;
    min-height: 100vh;
}
.property-picture {
    border-radius: 1rem;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.information-header {
    margin-bottom: 0.5rem;
}
.properties-link {
    background-color: #388819;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 10rem;
    border-radius: 1.25rem;
    transition: 200ms;
}
.properties-link > a {
    text-decoration: none;
    color: #fff;
}
.properties-link:hover {
    background-color: #317017;
    transform: scale(1.01);
}
iframe {
    height: 30rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
    .property-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 150vh;
    }
    .property-picture {
        width: 45%;
        height: 30%;
    }
    .property-description {
        width: 45%;
    }
    .map-container {
        flex-basis: 100%;
        margin-bottom: 3rem;
    }
    iframe {
        width: 100%;
    }
}
