*{  margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height:80px;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.main-content{
    display:flex;

    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    position:fixed;
    border: 1px solid rgb(56, 136, 25);
    z-index: 999999;
}


.nav-logo{
   width: 100px;
   height: 70px;
   padding:20px;
}

.navlist{
    display:flex;
    list-style: none;
    color:red;
    padding:20px;
    margin-right: 90px;
}

.navlist li{
    padding: 10px;
    text-decoration: none;
}

.navlist li a{
    display: flex;
    text-decoration: none;
    color:rgb(56, 136, 25);
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.navlist li a:hover{
    transform: translate(0, -5px);
}

.container-menu {
    display: none;
  }
  
.hidden-menu {
    display: none;
  }








/* -------------------FOOTER------------------- */
footer{
    position: relative ;
    bottom: 0;
    width: 100%;
    height:auto;
    /* margin-top: auto; */
    background-color: rgb(56, 136, 25);
}

.footer-container{
    display:flex;
    justify-content: center;
}

.footer-headers{
    display:flex;
    justify-content: center;
    margin-bottom:10px;
}
.actions{
    width:33%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color:#fff;
    
}
.actions-list{
    width: 100vw;
    padding:0px;
}

.actions-list li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.actions-list li a {
    text-decoration: none; 
    color:#fff;
}
.actions-list li:hover {
    color:#fff;
    transform: translate(5px, 0);   
}
.newsletter{
    width:33%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    color:#fff;
    text-align: center;
    background-color: rgb(58, 127, 31);
    padding:0 0 10px 0;
}
.form-container{
    display:flex;
    flex-direction: column;
    width: 80%;
}
.subs-email{
    border-radius:8px;
    height: 40px;
    color:#000;
    text-align: center;
}
.subs-email::placeholder {
    color: darkgray;
}
.subs-submit-btn{
    background-color: #388819;
    color: #fff;
    padding:12px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top:10px;
    
}
.subs-submit-btn:hover{
    background-color:#317017;
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.01);
}
.social-media{
    width:33%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color:#fff;
}

.social-list{
    list-style:none;
    display:flex;
    align-items:center;
    padding: 0px;
}

.social-list li{
    display:flex;
    padding: 15px;
    justify-content:center;
}
.social-list li:hover{
    display:flex;
    transform: translate(0, -5px);
}


.social-icons{
    width:40px;
    height: 40px;
}

.copy{
    display:flex;
    justify-content: center;
    color: rgb(36, 104, 10);
    background-color:#fff;
    
}









   /* RESPONSIVE */

@media only screen and (max-width: 996px) {

    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newsletter{
        background-color: rgb(58, 127, 31);
        width:100vw;
        padding: 30px 0px 30px 0px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .actions{
        padding: 20px 0px 20px 0px;
    }
    .social-media{
        padding: 20px 0px 20px 0px;
    }

    .actions-list, .subs-email, .subs-submit-btn{
        font-size:x-large;
  }

}

@media only screen and (max-width: 768px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .actions{
        margin:20px;
    }
    .form-container{
        flex-direction: column;
    }
    .newsletter{
        margin:20px;
    }
    .social-media{
        margin:20px;
    }
    .navlist{
        display: none;
    }
    .navlist li a{
        display: none;
    }

    .container-menu {
        display: inline-block;
        cursor: pointer;
        margin-right: 40px;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(56, 136, 25);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      .change .bar2 {
        opacity: 0;
      }
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

    .menu-box{
        display:none;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        height: 15vh;
    }

    .menu-box li a{
        list-style: none;
        text-decoration: none;
        color:#fff;
    }

    .hidden-menu{
    display:flex;
    flex-direction:column;
    overflow: hidden;
    background-color: rgba(56, 136, 25,0.9);
    border: 1px solid #fff;
    position: relative;
    color: #fff;
    }
    .form-container{
        width: 80vw;
    }
    .newsletter{
        background-color: rgb(36, 104, 10);
        width:100vw;
        padding: 40px 0px 40px 0px;
    }
    .actions-list, .subs-email, .subs-submit-btn{
        font-size:x-large;
  }
}

  @media only screen and (max-width: 640px) {
    .footer-container {
        display:flex;
        flex-direction: column;
        align-items:center;
        
    }
    .navlist li a {
        display: none;
    }

  }
  @media only screen and (max-width: 400px) {
    .footer-headers {
        width: 100vw;
    }
  }