section.manage-properties-content {
    margin: auto;
    min-height: 90vh;
    width: 85%;
    padding-bottom: 1rem;
}

.properties-header {
    text-align: center;
    padding: 2rem 0;
}
.properties-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding-bottom: 2rem;
}
.property-card {
    width: 90%;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid green;
}

.property-image {
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.property-description {
    padding: 1rem 0;
    width: 95%;
    margin: auto;
}
.property-links {
    align-items: center;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    margin: auto;

    flex-direction: column;

    justify-content: center;
}
.property-link, .change-prompt {
    background-color: #45a049;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.25rem;
    text-align: center;
    text-decoration: none;
    transition: 200ms;
    width: 50%;
}
.add-property-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
h3 {
    text-align: center;
}
.change-prompt {
    max-width: 33%;

}

@media only screen and (min-width: 600px) {
    .properties-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .property-card {
        width: 30%;
    }
    .change-prompt {
        max-width: 20%;
    }
    .details-link:hover, .change-prompt:hover, .property-link:hover {
        background-color: #317017;
    }

}
